langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
pypdf
chromadb
faiss-cpu
groq
cassio
langchain-groq
wikipedia
sentence_transformers
PyPDF2
langchain-objectbox
langchainhub
arxiv
beautifulsoup4
uvicorn
sse_starlette
bs4